:root {
  --hexa:5;
}

html {
  box-sizing: border-box;
  background: url("stones.jpg");
  background-size: cover;
}

body {
  margin: 0;
  font-family: 'helvetica neue';
  font-size: 20px;
  font-weight: 200;
}

*, *:before, *:after {
  box-sizing: inherit;
}

input {
  width: 100%;
  padding: 20px;
}


.search-form {
  max-width: 400px;
  margin: 50px 10%;
  position: fixed;
  height: 60%;
}

input.search {
  margin: 0;
  text-align: center;
  outline: 0;
  width: 120%;
  left: -10%;
  position: relative;
  top: 10px;
  z-index: 2;
  font-size: 40px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
  border: none;
}

.colors {
  margin: 0;
  padding: 0;
  position: absolute;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  /*perspective: 20px;*/
}

.colors li {
  background: white;
  list-style: none;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  cursor: pointer;
}

.colors li:nth-child(even) {
  /*transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);*/
}

.colors li:nth-child(odd) {
  /*transform: perspective(100px) rotateX(-3deg) translateY(3px);*/
}

span.population {
  font-size: 15px;
}

.hexa {
	margin: 16% 46%;
	text-align: center;
	position: absolute;
	font-size: 6em;
	font-weight: bold;
  text-shadow: 6px 6px 10px black;
}

h1 {
  text-align: center;
  font-size: 5rem;
  position: absolute;
  width: 100%;
  background:  rgba(255, 255, 255, 0.2);
  bottom: 20px;
}

a {
  color: rgba(0, 32, 37);
  text-decoration: none;
}
