

html {
    background: url("frog.jpg");
    background-size: cover;
    font-family: 'helvetica neue';
    font-size: 10px;
}

body {
    text-align: center;
    margin: 0;
    font-size: 2rem;
}


h1{
    text-align: center;
    font-size: 5em;
}

a{
    color: rgba(0, 32, 37, 0.5);
    text-decoration: none;  
}
